@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
  background: black;
  color: white;
  font-family: 'poppins';
}

/* Navbar */

.navbar{
  width: 100%;
  padding: 20px 6%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  font-size: 14px;
  color: white;
  background-image: linear-gradient(180deg, rgba(0,0,0,0.7) 10%, transparent);
  z-index: 1;
  opacity: 0;
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
}

.navbar__left{
  display: flex;
  align-items: center;
  gap: 50px;
}

.navbar__left img{
  width: 90px;
}

.navbar__left ul{
  display: flex;
  list-style: none;
  gap: 20px;
}

.navbar__left ul li{
  cursor: pointer;
}

.navbar__right{
  display: flex;
  gap: 20px;
  align-items: center;
}

.navbar__right .icons{
  width: 20px;
  cursor: pointer;
}

.navbar__right .profile{
  border-radius: 4px;
  width: 35px;
}

.navbar__profile{
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  position: relative;
}

.navbar .dropdown{
  position: absolute;
  top: 100%;
  right: 0;
  width: max-content;
  background: #191919;
  padding: 18px 22px;
  border-radius: 2px;
  text-decoration: underline;
  z-index: 1;
  display: none;

}

.navbar .dropdown p{
  font-size: 13px;
  cursor: pointer;
}

.navbar__profile:hover .dropdown{
  display: block;
}

.nav-dark{
  background: #141414;
}

.navbar.nav-visible {
  opacity: 1;
  transform: translateY(0);
}

.navbar.nav-dark {
  background-color: #141414; 
}

/* Media Query */

@media (max-width: 800px){
  .navbar{
    padding: 20px 4%;
  }
  .navbar__left{
    display: none;
  }
  .navbar img{
    height: 25px;
  }
}

@media (max-width: 500px){
  .navbar img{
    height: 20px;
  }
  .navbar__right{
    gap: 10px;
  }
}


/* Hero Section */

.hero{
  position: relative;
}

.banner__img{
  width: 100%;
  mask-image: linear-gradient(to right,  transparent, black 75%);
  -webkit-mask-image: linear-gradient(to right,  transparent, black 75%);
}

.hero__caption{
  position: absolute;
  width: 100%;
  padding-left: 6%;
  bottom: 0;
}

.caption__img{
  width: 90%;
  max-width: 420px;
  margin-bottom: 30px;
}

.hero__caption p{
  max-width: 700px;
  font-size: 17px;
  margin-bottom: 20px;
}

.hero__btns{
  display: flex;
  gap: 10px;
  margin-bottom: 50px;
}

.hero__btns .btn img{
  width: 25px;
}

.hero__btns .btn{
  border: 0;
  outline: 0;
  padding: 8px 20px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  font-weight: 600;
  background: white;
  border-radius: 4px;
  cursor: pointer;
}

.hero__btns .btn.dark__btn{
  color: #fff;
  background: #6d6d6eb3;
}

.hero__btns .btn:hover{
  background: #ffffffbf;
}

.hero__btns .btn.dark__btn:hover{
  background: #6d6d6e66;
}

.more__cards{
  padding-left: 6%;
}

/* Media Query */

@media (max-width: 1024px){
  .hero__caption .title__cards{
    display: none;
  }
  .hero__btns{
    margin-bottom: 30px;
  }
}

@media (max-width: 800px){
  .hero__caption{
    padding-left: 4%;
  }
  .caption__img{
    margin-bottom: 10px;
    width: 40%;
  }
  .hero__caption p{
    font-size: 12px;
    margin-bottom: 10px;
  }
  .hero__btns .btn img{
    width: 20px;
  }
  .more__cards{
    padding-left: 4%;
  }
}

@media (max-width: 500px){
  .caption__img{
    display: none;
  }
  .hero__btns .btn img{
    width: 15px;
  }
  .hero__btns .btn{
    padding: 4px 10px;
    gap: 5px;
    font-size: 10px;
  }
}

/* TitleCards */

.title__cards{
  margin-top: 50px;
  margin-bottom: 30px;
}

.title__cards h2{
  margin-bottom: 8px;
}

.card__list{
  display: flex;
  gap: 10px;
  overflow-x: scroll;
}

.card__list::-webkit-scrollbar{
  display: none;
}

.card__list img{
  width: 240px;
  border-radius: 4px;
  cursor: pointer;
}

.card__list .card{
  position: relative;
}

.card__list .card p{
  position: absolute;
  bottom: 10px;
  right: 10px;
  text-decoration: none;
  color: white;
}

/* Media Query */

@media (max-width: 800px){
  .title__cards{
    margin-top: 20px;
    margin-bottom: 0;
  }
  .title__cards h2{
    font-size: 20px;
  }
  .card__list img{
    width: 200px;
  }
  .card__list p{
    font-size: 12px;
  }
}

@media (max-width: 500px){
   .title__cards h2{
    font-size: 15px;
  }
  .card__list img{
    width: 165px;
  }
  .card__list p{
    font-size: 10px;
  }
}

/* Footer */

.footer{
  padding: 30px 4%;
  max-width: 1000px;
  margin: 0 auto;
}

.footer__icons{
  display: flex;
  gap: 20px;
  margin: 40px 0;
}

.footer__icons img{
  width: 30px;
  cursor: pointer;
}

.footer ul{
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 15px;
  margin-bottom: 30px;
  list-style: none;
  padding: 0;
}

.footer ul li {
  font-size: 13px;
  color: #808080;
  cursor: pointer;
}

.footer ul li:hover {
  text-decoration: underline;
}

.copyright__text{
  color: gray;
  font-size: 14px;
  margin-top: 20px;
}

/* Media Query */

@media (max-width: 800px){
  .footer__icons img{
    width: 25px;
  }
  .footer ul{
    grid-template-columns: auto auto;
    gap: 8px;
    font-size: 14px;
  }
}



/* Login */

.login{
  height: 100vh;
  background-image: linear-gradient(#0000007e, #0000007e), url(/background_banner.jpg);
  padding: 20px 8%;
}

.login__logo{
  width: 150px;
}

.login__form{
  width: 100%;
  max-width: 450px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  padding: 60px;
  margin: auto;
}

.login__form h1{
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 28px;
}

.login__form input{
  width: 100%;
  height: 50px;
  background: #333;
  color: white;
  margin: 12px 0;
  bottom: 0;
  outline: 0;
  border-radius: 4px;
  padding: 16px 20px;
  font-size: 16px;
  font-weight: 500;
}

.login__form input::placeholder{
  font-size: 16px;
  font-weight: 500;
}

.login__form button{
  width: 100%;
  border: 0;
  outline: 0;
  padding: 16px;
  background: #e50914;
  color: white;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  margin-top: 20px;
  cursor: pointer;
}

.form__help{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #b3b3b3;
  font-size: 13px;
}

.remember{
  display: flex;
  align-items: center;
  gap: 5px;
}

.remember input{
  width: 18px;
  height: 18px;
}

.form__switch{
  margin-top: 40px;
  color: #737373;
}

.form__switch span{
  margin-left: 6px;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.login__spinner{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login__spinner img{
  width: 60px;
}

/* Media Query */

@media (max-width: 500){
  .login{
    padding: 15px 5%;
  }
  .login__form{
    padding: 20px;
    margin-top: 30px;
  }
}

/* Player */

.player{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player img{
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50px;
  cursor: pointer;
}

.player iframe{
  border-radius: 10px;
}

.player__info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}
